pypdf
langchain
torch
accelerate
bitsandbytes
ctransformers
sentence_transformers
faiss_cpu
chainlit
huggingface_hub
pdfminer.six
pillow-heif
unstructured-inference
langchain-community
gradio
langchain-huggingface
transformers
huggingface_hub

